.body{
    margin: 0;
    font-family: "Kanit", sans-serif;
    
      
}
.header{
    
    background-image: url('../images/banner/banner1.png');
    height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;



}

.main-title{
    font-weight: bolder;

}
.header-content{
    
    text-align: right;
    /* margin-top: 100px; */
    padding-top: 200px;
    padding-right: 100px;
    max-width: 500px;
    padding-left: 800px;
    
}
.btn-primary{
    background-color: rgb(255, 123, 0);
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.picture{
    max-width: 500px;
    height: 500px;
    
}
.failure{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 150px;
}
.failure-content{
    max-width: 400px;
    
}
.failure li{
    list-style: none;
    margin-bottom: 10px;
    
}
.check{
    color: rgb(99, 214, 172);
    margin-right: 10px;
}

.plans-container{
    margin: 100px 150px;
}

.section-title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bolder;

}

.plans-content{
    display: flex;
    justify-content: space-around;
}
.plans{
    text-align: center;
}

.positive-container{
    color: white;
    margin: 100px 150px;
    border-radius: 10px;
    max-width: 900px;
    padding: 20px ;
    background-image: url('../images/gradient3.png'),url('../images/watch.png');
    height: 200px;
    font-size: larger;

}

.positive{
    margin-top: 50px;
}

.btn-call{
    background-color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color:  rgb(255, 123, 0);
}